@import "app/style/breakpoints";


/* Meniu lateral */
.side-menu {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 450px;
  height: 100%;
  background: #222;
  color: white;
  padding: 20px;
  transition: left 0.3s ease, right 0.3s ease;
  z-index: 100;

  @include respond(mld) {
    width: 100%;
  }
}

/* Meniu din dreapta */
.side-menu.right {
  left: auto;
  right: -3550px; /* ascuns în dreapta */
}

.side-menu.open {
  right: 0; /* apare din stânga */
}

.side-menu.open.right {
  right: 0; /* apare din dreapta */
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.clean-btn {
  right: 20px;
  background: none;
  position: absolute;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.card-product__by {
  font-size: 12px;
  font-weight: 500;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shopping-cart-wrapper {
  width: 100%;
  display: flex;
  height: auto;
  gap: 1rem;
  flex-direction: column;
}

.shopping-cart-total {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.shopping-cart-calculation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shopping-cart-bottom {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}

.shopping-cart-subtitle{
  margin: 0;
}

.shopping-cart-title {
  margin: 0;
}

.shopping-item-selected {
  gap: 10px;
  display: flex;
  width: 300px;
  flex-direction: column;
}

.shopping-items {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  align-content: flex-start;
}

.shopping-cart-item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.shopping-cart-upper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.separator {
  width: 100%; margin-top: 1rem;
  border: 1px solid #3c3c3c;
}

.separator2 {
  margin-bottom: 1rem;
  width: 100%; margin-top: 1rem;
  border: 1px solid #3c3c3c;
}

.shopping-cart-calculation-wrapper {
  width: 100%;
}

.transport-free {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host {
::ng-deep {
  .numbers-selectors {
    margin-top: 0;
  }
}
}

.side-menu-option {
  border: none;
  background: #222;
  width: 100%;
  margin-bottom: 1rem
}
