<div class="overlay" *ngIf="isOpen" (click)="closeMenu()"></div>

<div class="side-menu" [class.open]="isOpen" [class.right]="position() === 'right'">
  <div class="shopping-cart-upper">
    <button class="close-btn" (click)="closeMenu()">✖</button>
    <button class="clean-btn" (click)="cleanCart()">Clean</button>
    <section class="shopping-cart-wrapper">
      @for (item of shoppingCart; track item.id) {
        <div class="separator"></div>
        <div class="shopping-cart-item-wrapper">
          <div class="background-image-wrapper">
          <div class="shopping-item-selected">
            <div class="shopping-items">
              <h4 class="shopping-cart-title">{{ item.title }}</h4>
              <span class="card-product__by"> {{item.description }}</span>
            </div>
            <div class="numbers-selectors">
              <button class="shop-now add-remove-buttons" (click)="removeOne(item)">
                -
              </button>
              <input type="number" [disabled]="true" [value]="isInCart(item.id) ?? 0"/>
              <button class="shop-now add-remove-buttons" (click)="addOne(item)">
                +
              </button>
            </div>
          </div>
        </div>
        </div>
       }
    </section>
  </div>
  <div class="separator2"></div>
  <div class="shopping-cart-bottom">
    <section class="shopping-cart-calculation-wrapper">
      <span
        class="shopping-cart-calculation"><span>Subtotal:</span> <span>{{ getTotal | number:'1.2-2'}} RON</span></span>
      <div class="separator"></div>
    </section>

    <section class="shopping-cart-total">
      <span class="shopping-cart-calculation">
            <h2>Total:</h2>
      <h2> {{ getTotal | number:'1.2-2'}} RON</h2>
      </span>
      <span class="transport-free">
            Transport Gratuit - mai adauga produse de
        <br/>
        <span> 154 RON</span>
      </span>
    </section>
    <button class="shop-now">Go To Command</button>
  </div>
</div>
