/* Overlay semi-transparent */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}

/* Meniu lateral */
.side-menu {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 150px;
  height: 100%;
  background: #222;
  color: white;
  padding: 20px;
  transition: left 0.3s ease, right 0.3s ease;
  z-index: 100;
}

/* Meniu din dreapta */
.side-menu.right {
  left: auto;
  right: -3550px; /* ascuns în dreapta */
}

.side-menu.open {
  right: 0; /* apare din stânga */
}

.side-menu.open.right {
  right: 0; /* apare din dreapta */
}

.close-btn {
  background: none;
  position: absolute;
  border: none;
  color: white;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
}

.shopping-cart-upper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.cursor-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  transition: all 0.3s
  ease;
  text-align: left;
  padding: 1rem;
  position: relative;
  margin: 0;
  overflow: hidden;
}

.cursor-box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: -100%;
  transition: all 0.5s ease;
}

.cursor-box:hover::before {
  top: 100%;
  left: 100%;
}

.text {
  cursor: pointer;
}

.text:hover {
  transform: scale(1.05);
  letter-spacing: 2px;
}

.cursor-box:first-of-type {
  padding-top: 5rem;
}

