<header class="admin-header">
  <div class="admin-header__inner">
    <button
      type="button"
      class="admin-header__tab"
      [class.admin-header__tab--active]="selectedTab === 2"
      (click)="selectTab(2)"
    >
      Products
    </button>

    <button
      type="button"
      class="admin-header__tab"
      [class.admin-header__tab--active]="selectedTab === 1"
      (click)="selectTab(1)"
    >
      Orders
    </button>

    <button
      type="button"
      class="admin-header__tab"
      [class.admin-header__tab--active]="selectedTab === 3"
      (click)="selectTab(3)"
    >
      Vehicles
    </button>

    <button
      type="button"
      class="admin-header__tab"
      [class.admin-header__tab--active]="selectedTab === 4"
      (click)="selectTab(4)"
    >
      Sections
    </button>
  </div>
</header>

<section class="admin-body">
  @switch (selectedTab) {
    @case (4) {
      <app-parts class="admin"></app-parts>
    }

    @case (3) {
      <app-vehicles class="admin"></app-vehicles>
    }

    @case (2) {
     <app-product></app-product>
    }

    @case (1) {
      <app-orders></app-orders>
    }
  }
</section>
