@import "app/style/breakpoints";

.side-menu {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 60%;
  height: 60%;
  border-radius: 12px;
  background: #222;
  color: white;
  padding: 20px;
  z-index: 100;

  @include respond(ml) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}


.side-menu.right {
  left: auto;
  right: -3550px;
}

.side-menu.open.right {
  right: 20%;
  top: 20%;

  @include respond(ml) {
    right: 0;
    top: 0;
  }
}

.close-btn {
  background: none;
  position: absolute;
  border: none;
  color: white;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
}

.shopping-cart-upper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.cursor-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  transition: all 0.3s
  ease;
  text-align: left;
  padding: 1rem;
  position: relative;
  margin: 0;
  overflow: hidden;
}

.cursor-box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: -100%;
  transition: all 0.5s ease;
}

.cursor-box:hover::before {
  top: 100%;
  left: 100%;
}

.text {
  cursor: pointer;
}

.text:hover {
  transform: scale(1.05);
  letter-spacing: 2px;
}

.cursor-box:first-of-type {
  padding-top: 5rem;
}

.card-product__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  border-radius: 12px;

  @include respond(ml) {
    width: 100%;
    height: 400px;
  }
}

.details-modal-wrapper {
  height: 150px;
  display: flex;
  margin-top: 35px;
  gap: 1rem;
  flex-direction: row;
  align-items: center;

  @include respond(ml) {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }
}

.info-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include respond(ml) {
    width: 100%;
    height: auto
  }
}

.description-wrapper {
  display: flex;
  flex-direction: column;
}
