<main class="products-wrapper">
  <section class="filters-section">
    <div class="search-wrapper">
      <span class="search-ico" aria-hidden="true">
  <svg viewBox="0 0 24 24" width="30" height="30">
    <path
      d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16a6.471 6.471 0 0 0 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5Zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14Z"/>
  </svg>
    </span>
      <input type="text" [(ngModel)]="search">
    </div>
  </section>
  <section class="cards">
    @for (product of products; track product.id) {
      <article class="card-product">
        <div class="card-product__info-hover">

          <div class="card-product__price">
            {{ product.price | number:'1.2-2' }} lei
          </div>
        </div>

        <div
          class="card-product__img"
          [style.background-image]="'url(' + product.image + ')'"
        ></div>

        <a class="card-product__link" href="#">
          <div
            class="card-product__img--hover"
            [style.background-image]="'url(' + product.image + ')'"
          ></div>
        </a>

        <div class="card-product__info">
          <h3 class="card-product__title">{{ product.title }}</h3>
          <span class="card-product__by">{{ product.description }}</span>
        </div>
      </article>
    }
  </section>

</main>
