@import "app/style/breakpoints";

.body-home {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;

  img {
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

.body-home-card {
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 10%;
  display: flex;
  color: white;
  padding: 1.5rem;
  flex-direction: column;
  border-radius: 4px;
  align-items: flex-start;

  h2 {
    margin-top: 0;
  }

  @include respond(xl) {
    width: 60%;
  }

  @include respond(lg) {
    width: 80%;
    margin: auto;
  }

  @include respond-min(xl) {
    width: 800px;
  }
}

.shop-now {
  font-size: 1.2rem !important;
}


