<div class="order-wrapper">
  <aside class="shopping-cart-upper">
    <section class="shopping-cart-wrapper">
      @for (item of shoppingCart; track item.id) {
        <div class="shopping-cart-item-wrapper">
          <div class="background-image-wrapper">
            <div
              class="card-product__img"
              [style.background-image]="getBgImage(item)"
            ></div>
            <div class="shopping-item-selected">
              <div class="shopping-items">
                <span class="card-product__by truncate-multiline">{{ item.name }}</span>
                <span class="card-product__by truncate-multiline"> {{item.description }}</span>
                <span class="card-product__by truncate-multiline">Price: {{item.price }}</span>
                <span class="card-product__by truncate-multiline">Total Price of this Item: {{item.price * (isInCart(item.id)) }}</span>
              </div>
              <div class="numbers-selectors">
                <button class="shop-now add-remove-buttons" (click)="removeOne(item)">
                  -
                </button>
                <input type="number" [disabled]="true" [value]="isInCart(item.id) ?? 0"/>
                <button class="shop-now add-remove-buttons" (click)="addOne(item)">
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      }
    </section>
  </aside>

  <aside class="side-info-details">
    <div class="log-in info-order-form" [formGroup]="formDetails">
      <div class="input-wrapper">
        <label>Name</label>
        <input type="text" formControlName="name"/>
      </div>

      <div class="input-wrapper">
        <label>Email</label>
        <input type="text" formControlName="email"/>
      </div>

      <div class="input-wrapper">
        <label>Phone</label>
        <input type="text" formControlName="phone"/>
      </div>

      <div class="input-wrapper">
        <label>Vin</label>
        <input type="text" formControlName="vin"/>
      </div>

      <div class="input-wrapper">
        <label>Details</label>
        <input type="text" formControlName="details"/>
      </div>

      <span class="shopping-cart-calculation">
            <h2>Total:</h2>
      <h2> {{ getTotal | number:'1.2-2'}} RON</h2>
      </span>

      <button class="save-button">
        Send
      </button>
    </div>
  </aside>
</div>
