
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: whitesmoke;
}

html, body {
  font-size: clamp(14px, 1.5vw, 76px);
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
}

app-root, app-admin {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

app-home {
  flex: 1;
  display: flex;
}

app-products {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
